#bar-container {
   display: flex;
   height: 200px;
}

#number-container {
   display: flex;
}

#bar-container > div {
   background-color: blue;
   flex-grow: 1;
   margin: 1%;
}

.bar_num {
   flex-grow: 1;
   text-align: center;
}

.scanned {
   background-color: purple !important;
}

.current {
   background-color: orange !important;
}

.searching {
   background-color: orange !important;
}

.pointer {
   background-color: green !important;
}

/* Header buttons */
.header_btn {
   padding: 10px;
   margin: 10px;
   background-color: white;
   border: 2px solid orange;
   color: orange;
   border-radius: 15%;
}

.header_btn:hover {
   background-color: orange;
   color: white;
   cursor: pointer;
}

#button-container {
   text-align: center;
}